<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>artistId</key>
	<integer>306677045</integer>
	<key>artistName</key>
	<string>Joymaster Holding Co., Ltd.</string>
	<key>asset-info</key>
	<dict>
		<key>file-size</key>
		<integer>48174479</integer>
		<key>flavor</key>
		<string>10:purple</string>
	</dict>
	<key>bundleDisplayName</key>
	<string>仙境傳說</string>
	<key>bundleShortVersionString</key>
	<string>1.2.8</string>
	<key>bundleVersion</key>
	<string>1.2.8</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountAvailableServiceTypes</key>
			<integer>0</integer>
			<key>AccountKind</key>
			<integer>0</integer>
			<key>AccountServiceTypes</key>
			<integer>0</integer>
			<key>AccountSocialEnabled</key>
			<false/>
			<key>AccountSource</key>
			<string>device</string>
			<key>AccountStoreFront</key>
			<string>143470-18,15</string>
			<key>AccountURLBagType</key>
			<string>production</string>
			<key>AppleID</key>
			<string>d.weizhe@gmail.com</string>
			<key>CreditDisplayString</key>
			<string></string>
			<key>DSPersonID</key>
			<integer>1937601027</integer>
		</dict>
		<key>artworkAssetFilename</key>
		<string>-7472216923222028700.jpg</string>
		<key>etags</key>
		<dict>
			<key>media</key>
			<string>"0f1876020d9465d24aadd76737384cb1:1391356860"</string>
		</dict>
		<key>mediaAssetFilename</key>
		<string>3118382256123039783..app</string>
		<key>purchaseDate</key>
		<string>2014-02-22T03:36:20Z</string>
	</dict>
	<key>copyright</key>
	<string>@2012 JoyMaster Inc.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>遊戲</string>
	<key>genreId</key>
	<integer>6014</integer>
	<key>itemId</key>
	<integer>578541681</integer>
	<key>itemName</key>
	<string>RO仙境傳說-瓦爾基里之亂</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>Joymaster Holding Co., Ltd.</string>
	<key>playlistName</key>
	<string>RO仙境傳說-瓦爾基里之亂</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>偶而/輕微的卡通或幻想暴力</string>
		<key>label</key>
		<string>9+</string>
		<key>rank</key>
		<integer>200</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2013-02-20T04:37:24Z</string>
	<key>s</key>
	<integer>143470</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1812.phobos.apple.com/us/r30/Purple/v4/73/78/95/73789588-b999-1968-21ed-c8b7590ea7aa/Icon.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.joymaster.ragnarok</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>346662684</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>12062034</integer>
		<integer>14285241</integer>
		<integer>14435437</integer>
		<integer>15269671</integer>
		<integer>15445174</integer>
		<integer>15704275</integer>
		<integer>16037472</integer>
		<integer>16782471</integer>
		<integer>59522735</integer>
		<integer>133652633</integer>
		<integer>191062650</integer>
		<integer>286692659</integer>
		<integer>346662684</integer>
	</array>
	<key>subgenres</key>
	<array>
		<dict>
			<key>genre</key>
			<string>角色扮演</string>
			<key>genreId</key>
			<integer>7014</integer>
		</dict>
		<dict>
			<key>genre</key>
			<string>動作遊戲</string>
			<key>genreId</key>
			<integer>7001</integer>
		</dict>
	</array>
	<key>vendorId</key>
	<integer>207607</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
